<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.alex.myapplication">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SettingsActivity"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".AboutActivity"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".ClassesActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.alex.myapplication.MainActivity"/>
        </activity>
        <activity android:name=".MapActivity"
            android:parentActivityName=".MainActivity"/>

        <receiver android:name=".NotificationPublisher" />

        <activity android:name=".AddClassActivity"
            android:parentActivityName=".ClassesActivity"/>
        <activity android:name=".ViewClassActivity"
            android:parentActivityName=".ClassesActivity"/>
    </application>

</manifest>